.drag-over {
  position: fixed;
  top: 10vh;
  left: 10vw;
  width: 80vw;
  height: 80vh;
  border: 12px dashed $color-white;
  background: $color-grey;
  border-radius: 5vw;

  &:before {
    content: 'Drag your file(s)';
    font-size: 5vw;
    font-weight: bold;
    color: $color-white;
    line-height: 80vh;
    text-align: center;
    display: block;
  }
}
