.stats {
  background-color: $color-grey;
  margin-left: 40px;
  width: 380px;
  font-size: 12px;

  &__row {
    &--border {
      border-bottom: 1px solid $color-bright-grey;
    }

    &--warn {
      background-color: $color-warn;
    }
  }

  td, th {
    padding: 5px 10px;
    text-align: right;
    white-space: nowrap;
    min-width: 110px;
  }

  td {
    color: $color-bright-grey;
  }

  &__edit-param {
    border: none;
    background: none;
    cursor: pointer;
    color: $color-white;
    font-size: 12px;
    padding: 0;
    display: inline-block;
  }
}
