.display {
  background-color: $color-grey;
  flex-shrink: 0;
  stroke: #000;
  stroke-width: 0.6;
  fill: none;
  transform: translate(0.5px, 0.5px);

  &__ropes {
    pointer-events: none;
  }

  &__path {
    pointer-events: none;
    stroke: $color-black;
    stroke-linecap: round;
    stroke-width: 1px;
  }
}
