.display {
  background-color: $color-darkest;
  flex-shrink: 0;
  stroke: #000;
  stroke-width: 0.25;
  fill: none;

  &__ropes {
    pointer-events: none;
  }

  &__path {
    pointer-events: none;
    stroke: $color-black;
    stroke-linecap: round;
    stroke-width: 1px;
  }
}
